<!DOCTYPE html>
<html>

<head>
    <title>Error!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        body {
            font-family: 'Economica', sans-serif;
            font-size: large;
        } 
    </style>
</head>

<body>
    <body>
        <div><h2 style="text-align:center;line-height: 2;"> Error!</h2> </div>
    
        <div class="container">
            
            <div class="alert alert-danger" role="alert" style="text-align:center" >
              <%= error %>
            </div>
            <% if(typeof next != undefined){%>
                <a href="<%= next %>" class="btn btn-primary btn-lg active float-right" role="button" aria-pressed="true">Next</a>
            <% } %>
        </div>
       
    </body>


</html>