<!DOCTYPE html>
<html>

<head>
    <title>Success!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="2;url=home.html">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        body {
            background-color: #22233B;
        }
        #sd{
            padding: 10%;
            background-color:#F2F4F3;
            text-align:center;
        }
        
    </style>
</head>

<body>
    <div id="sd"><h2>Successful operation!</h2> </div>

   
</body>


</html>