<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/sort.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  <script src="jquery-scrolltofixed.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    $(document).ready(function () {
      $('.header').scrollToFixed();
    })</script>
  <title>Shiang Bu Dau Ba</title>
</head>

<body>

  <header id="head">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"><a href="home.html"><img src="image/website_logo02.png"></a></div>

      </div>
    </div>
  </header>
  <nav class="header navbar-expand-md navbar-light bg-light ">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <div class="container-fluid">
        <div class="row collapse navbar-collapse" id="collapse_target">
          <div class="col-md ">
            <li class="dropdown nav-item">
              <button class="dropbtn">3D Model</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Character.html">Character</a>
                <a class="nav-link" href="/Scence.html">Scence</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">Animation</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/2DAnimation.html">2D</a>
                <a class="nav-link" href="/3DAnimation.html">3D</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">Illustration</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Sketching.html">Sketching</a>
                <a class="nav-link" href="/DigitalArt.html">Digital Art</a>
                <a class="nav-link" href="/Painting.html">Painting</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">PC Game</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Game.html">Game</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">Video</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Microfilm.html">Microfilm</a>
                <a class="nav-link" href="/PuppetAnimation.html">Puppet Animation</a>
                <a class="nav-link" href="/Dubbing.html">Dubbing</a>
                <a class="nav-link" href="/TimeLapse.html">Time-Lapse</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">Photograph</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Photograph.html">Photograph</a>
              </div>
            </li>
          </div>
          <div class="col-md">
            <li class="dropdown nav-item">
              <button class="dropbtn">Handcraft</button>
              <div class="dropdown-content">
                <a class="nav-link" href="/Handcraft.html">Handcraft</a>
              </div>
            </li>
          </div>
        </div>
      </div>
    </ul>
  </nav>
  <div id=intro>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 text-center offset-md-2">
          <h2>Scence</h2>
          <p>A 3D Scene is More Than Just Geometry
            Thus generally, a scene description also generally includes a camera.
              In rendering, all this information (the description of the geometry,
               the camera and the lights) are contained within a file called the scene file.</p>
        </div>
      </div>
    </div>
    <div class="portfolio">
      <div class="container-fluid">
        <div class="row forvue">
          <div class="col-md-3 col-sm-6 coloffset" v-for="item in work" :key="item.title">
            <div class="img-wrapper" v-if="item.poster">
              <img v-bind:src="item.poster" alt="" v-bind:title="item.title" onclick="change(this)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer id="footer">
    <p>INFO:ShiangBuDauBa@gmail.com</p>
  </footer>

  <div class="bg-model forvue">
    <div class="container-fluid" id="workintro">
      <div class="model-content">
        <div class="row">
          <div class="col-lg-8">
            <div id="close">&times;</div>
            <img id="intro-img" src="" alt="">
          </div>
          <div class="col-lg-4">
            <h1 id="intro-title"></h1>
            <p id="intro-content"></p>
            <p id="intro-creator" style=" text-align: right;"></p>
            <a href="" target="_blank" class="btn" id="intro-url"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var myObject = new Vue({
      el: ".forvue",
      data: {
        work: []
      },
      methods: {

      }
    });
    $(function () {
      $.ajax({
        url: "/Scence",
        type: "POST",
        contentType: "application/json",
        success: function (result, status) {
          myObject.work = result.work;
          myObject.work.forEach(element => {
            element.poster = "upload/" + element.poster;
          });
        }

      });
    })
    document.querySelector('#close').addEventListener('click',
      function () {
        document.querySelector('.bg-model').style.display = 'none';
      });

    function change(x) {
      document.querySelector('.bg-model').style.display = 'flex';
      document.getElementById('intro-img').setAttribute("src", x.src);
      for (i = 0; i < myObject.work.length; i++) {
        if (myObject.work[i].title == x.title) {
          var creator = "";
          document.getElementById('intro-title').innerHTML = myObject.work[i].title;
          document.getElementById('intro-content').innerHTML = myObject.work[i].introdution;
          if (myObject.work[i].creator1)
            creator += myObject.work[i].creator1 + "<br>";
          if (myObject.work[i].creator2)
            creator += myObject.work[i].creator2 + "<br>";
          if (myObject.work[i].creator3)
            creator += myObject.work[i].creator3 + "<br>";
          if (myObject.work[i].creator4)
            creator += myObject.work[i].creator4 + "<br>";
          if (myObject.work[i].creator5)
            creator += myObject.work[i].creator5;
          document.getElementById('intro-creator').innerHTML = "Created BY " + creator;
          if (myObject.work[i].workurl != "") {
            document.getElementById('intro-url').setAttribute("href", myObject.work[i].workurl)
            document.getElementById('intro-url').innerHTML = "Click See More &raquo";
          } else {
            document.getElementById('intro-url').removeAttribute("href")
            document.getElementById('intro-url').innerHTML = "";
          }
          break;
        }

      }

    }
  </script>
</body>




</html>